<div class="container sections-wrapper" data-ng-if="vm.score">
	<div class="secondary col-md-4 col-sm-12 col-xs-12 pull-right">
        <div class="row">
            <aside class="aside section profile-score col-sm-6 col-md-12">
                <img src="/Thumbnail" alt="{{vm.displayName}}" class="img-responsive img-circle" />
                <h2 class="text-center">Calculated Level: {{vm.score.level}}</h2>
            </aside>
            <aside class="skills aside section col-md-12 col-sm-6">
                <div class="section-inner">
                    <h2 class="heading">Level Progress</h2><div class="content">
                        <p class="intro"></p><div class="skillset">
                            <div class="row">
                                <h3 title="vm.score.nextLevel" class="col-xs-6 col-md-12 level-title">{{vm.score.nextLevel}}</h3>
                                <div class="col-xs-6 col-md-12"><progressbar value="vm.score.levelProgressValue" class="progress-striped">{{vm.score.levelProgressValue}}%</progressbar></div>
                                <div data-ng-if="vm.score.scoreThresholdPassed" class="col-xs-6 col-md-12">Score Threshold Passed</div>
                                <div data-ng-if="vm.score.gateThresholdPassed" class="col-xs-6 col-md-12">Gate Threshold Passed</div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <aside class="skills aside section col-md-12 col-sm-6">
                <div class="section-inner">
                    <h2 class="heading">Competency Distribution</h2>
                    <div class="content">
                        <p class="intro"></p>
                        <div class="skillset">
                            <div class="row">
                                <h3 title="Communication" class="col-xs-6 col-md-12 level-title"><span>Communication</span></h3>
                                <div class="col-xs-6 col-md-12"><progressbar value="vm.score.communication" class="progress-striped">{{vm.score.communication}}%</progressbar></div>
                            </div>
                            <div class="row">
                                <h3 title="Leadership and Management" class="col-xs-6 col-md-12 level-title">
                                    <span>Leadership</span><span class="hidden-sm hidden-xs"> and Management</span>
                                </h3>
                                <div class="col-xs-6 col-md-12"><progressbar value="vm.score.leadership" class="progress-striped">{{vm.score.leadership}}%</progressbar></div>
                            </div>
                            <div class="row">
                                <h3 title="Interpersonal and Adaptability" class="col-xs-6 col-md-12 level-title">
                                    <span>Interpersonal</span>
                                    <span class="hidden-sm hidden-xs"> and Adaptability</span>
                                </h3>
                                <div class="col-xs-6 col-md-12"><progressbar value="vm.score.interpersonal" class="progress-striped">{{vm.score.interpersonal}}%</progressbar></div>
                            </div>
                            <div class="row">
                                <h3 title="Conflict and Stress Management" class="col-xs-6 col-md-12 level-title">
                                    <span>Conflict</span>
                                    <span class="hidden-sm hidden-xs"> and Stress Management</span>
                                </h3><div class="col-xs-6 col-md-12">
                                    <progressbar value="vm.score.conflict" class="progress-striped">{{vm.score.conflict}}%</progressbar>
                                </div>
                            </div><div class="row"><h3 title="Corporate Citizenship" class="col-xs-6 col-md-12 level-title"><span class="hidden-sm hidden-xs">Corporate</span><span> Citizenship</span></h3><div class="col-xs-6 col-md-12"><progressbar value="vm.score.citizenship" class="progress-striped">{{vm.score.citizenship}}%</progressbar></div></div>
                        </div>
                    </div>
                </div>
            </aside>
            <aside class="skills aside section col-md-12 col-sm-6">
                <div class="section-inner">
                    <h2 class="heading">Answered Competency Distribution</h2>
                    <div google-chart="google-chart" chart="vm.pieChart"></div>
                </div>
            </aside>
        </div>
	</div>
    <div class="primary col-md-8 col-sm-12 col-xs-12">
              <section class="section">
                  <div class="section-inner">
                      <div class="row">
                          <div class="col-xs-12"><h2 class="heading">Objectives</h2></div>
                          <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
                              <div class="form-group">
                                  <select data-ng-model="vm.sort" name="sort" class="form-control">
                                      <option value="" label="Default Sort">Default Sort</option>
                                      <option value="-isMet" label="Prioritize met">Prioritize met</option>
                                      <option value="isMet" label="Prioritize not met">Prioritize not met</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12"><p><a href="" data-ng-click="vm.clearAll()" class="btn btn-default btn-sm pull-right">Clear Answers</a></p></div>
                          <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12"><p><a href="" data-ng-click="vm.toggleEvidenceVisibility()" class="btn btn-default btn-sm pull-right"><span data-ng-show="vm.showAllEvidence">Hide Examples</span><span data-ng-hide="vm.showAllEvidence">Show Examples</span></a></p></div>
                      </div><div class="content">
                          <div class="row">
                              <div class="col-xs-12">
                                  <div data-ng-repeat="objective in vm.objectives | orderBy: [ vm.sort ? vm.sort: 'isMet','skipped', 'objectiveId']" data-ng-class="objective.isMet ? 'panel-met' : 'panel-not-met'" class="panel">
                                      <div class="panel-heading">
                                          <span data-ng-if="objective.isMet">Objective Met</span>
                                          <a href="" data-ng-click="vm.scoreObjective(objective, false)" data-ng-if="objective.isMet" class="pull-right"><i class="fa fa-undo"></i></a>
                                          <span data-ng-if="!objective.isMet">Objective Not Met</span>
                                          <span data-ng-show="objective.skipped" data-ng-click="objective.skipped=false" class="pointer">&nbsp; (skipped)</span>
                                      </div>
                                      <div class="panel-body">
                                          <div class="form-group">
                                              <strong>
                                                  {{objective.description}}?
                                              </strong>
                                          </div>
                                          <div data-ng-if="!objective.isMet && !objective.showEvidence" class="form-group text-center">
                                              <a href="" data-ng-click="objective.showEvidence = true" class="btn btn-success">Meet Objective</a>
                                              <a href="" data-ng-click="objective.skipped = true" data-ng-hide="objective.skipped" class="btn btn-default">Skip</a>
                                              <a href="" data-ng-click="objective.skipped = false" data-ng-show="objective.skipped" class="btn btn-default">Unskip</a>
                                          </div>
                                          <div ng-if="objective.showEvidence">
                                              <div class="form-group">
                                                  <textarea class="form-control no-resize" data-ng-model="objective.evidence" data-obs-focus></textarea>
                                              </div>
                                              <div class="form-group text-right">
                                                  <a href="" data-ng-click="vm.scoreObjective(objective, true)" class="btn btn-success">Save Example</a>
                                                  <a href="" data-ng-click="objective.showEvidence = false" class="btn btn-default">Cancel</a>
                                              </div>
                                          </div>
                                          <div data-ng-if="!objective.isMet" class="row">
                                              <div class="col-xs-12 col-sm-6"><h3><small>Meet if ...</small></h3>{{objective.supportingExample}}</div>
                                              <div class="col-xs-12 col-sm-6"><h3><small>Don't Meet if ...</small></h3>{{objective.counterExample}}</div>
                                          </div>
                                          <div data-ng-if="objective.isMet" class="row">
                                              <accordion class="accordion col-xs-12 voffset">
                                                  <accordion-group is-open="objective.evidenceVisible">
                                                      <accordion-heading>
                                                          Provided Example <i class="pull-right fa" data-ng-class="{'fa-minus-square-o': objective.evidenceVisible, 'fa-plus-square-o': !objective.evidenceVisible}"></i>
                                                      </accordion-heading>
                                                      <p>{{objective.evidence}}</p>
                                                  </accordion-group>
                                              </accordion>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
	</div>
</div>
<div data-ng-include="'app/views/error.html'"></div>