<div class="container sections-wrapper" data-ng-if="vm.teamMembers">
    <div class="row">
        <div class="primary col-md-12 col-sm-12 col-xs-12">
            <section class="section">
                <div class="section-inner">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <h2 class="heading">Team Members</h2>
                        </div>
                        <div class="col-md-2 col-xs-12 col-md-offset-2">
                            <select data-ng-model="vm.search.level" name="level" id="consultantLevel" class="form-control">
                                <option value="" label="All Levels"></option>
                                <option value="consultant" label="Consultant"></option>
                                <option value="intermediate" label="Intermediate"></option>
                                <option value="senior" label="Senior"></option>
                            </select>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <input id="consultantName" placeholder="Consultant Name" data-ng-model="vm.search.displayName" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul data-ng-repeat="consultant in vm.teamMembers | filter:vm.search:strict" class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">{{consultant.level}}</span>
                                    <div>
                                        <a href="/#/profileReport/{{consultant.userId}}">
                                            <img ng-src="/Thumbnail?u={{ consultant.userId }}" alt="{{consultant.displayName}}" class="img-circle img-responsive" />
                                        </a><a href="/#/profileReport/{{consultant.userId}}">{{consultant.displayName}}</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div data-ng-include="'app/views/error.html'"></div>