@import "mixins.less";
@import "theme-default.less";

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

/* ======= Base ======= */

body {
	font-family: 'Lato', arial, sans-serif;
	color: @text-color;
	background: @background;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y:scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: @color;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -43px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer, .page-wrap:after {
  height: 43px; 
}

ul.answers {
	padding-left: 0;
	margin-left: 2.14285714em;
}

	ul.answers > li {
		position: relative;
	}

ul.answers {
	.fa-check, span {
		color: @brand-success;
	}
}

ul.no-bullet, li.no-bullet {
	list-style-type: none;
}

.voffset {
	margin-top: 10px;
}

label.radio {
	display: inline-block;
	padding-left: 26px;
	margin-bottom: 0;
}

.btn, a.btn {
	.transition (all 0.4s ease-in-out);
	font-family: 'Montserrat', arial, sans-serif;
	padding: 8px 16px;
	font-weight: bold;

	.fa {
		margin-right: 5px;
	}

	&:focus {
		color: #fff;
	}
}

.panel-not-met {
	border-color: lighten(@color-2, 15%);
}

.panel-not-met > .panel-heading {
	color: #fff;
	background-color: @color-2;
	border-color: #ebccd1;
}

.panel-met {
	border-color: lighten(@color, 15%);
}

.panel-met {
	> .panel-heading {
		color: #fff;
		background-color: @color;
		border-color: #ebccd1;
	}

	a {
		.fa-pencil-square-o, .fa-undo {
			color: @smoky-white;
		}

		.fa-close {
			color: red;
		}
	}

	a:hover {
		.fa-pencil-square-o, .fa-undo {
			color: darken(@smoky-white, 50%);
		}

		.fa-close {
			color: darken(red, 15%);
		}
	}
}

a.btn-obs-primary, .btn-obs-primary {
	background: @btn-color;
	border: 1px solid @btn-color;
	color: #fff;
	font-weight: 600;

	&:hover {
		background: darken(@btn-color, 5%);
		border: 1px solid darken(@btn-color, 5%);
		color: #fff;
	}
}

a.btn-obs-secondary, .btn-obs-secondary {
	background: @btn-color-2;
	border: 1px solid @btn-color-2;
	color: #fff;
	font-weight: 600;

	&:hover {
		background: darken(@btn-color-2, 5%);
		border: 1px solid darken(@btn-color-2, 5%);
		color: #fff;
	}
}

.text-highlight {
	color: darken(@color, 30%);
}

.label-theme {
	background: @color-2;
	font-size: 12px;
}

a.dotted-link {
	border-bottom: 1px dotted @color;
	color: @color;

	&:hover {
		text-decoration: none;
		color: darken(@color, 20%);
	}
}

/*
iframe {

    .header {
        padding: 0;
    }
}

.iframe-wrapper {
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}
*/

/* ======= Nav    ======= */
.small-logo-container {
	padding-top: 50px;
    height: 50px;
    overflow: hidden;
  }

.small-logo {
	font-size: 2.5em;
	padding-bottom: 2px;
}

header.big-logo-container {
	padding-top: 50px;
}

/* ======= Header ======= */
.header {
	padding: 30px 0;
	background: @smoky-white;
	border-top: 10px solid @color;

	.btn {
		margin-top: 60px;
		font-weight: bold;
	}

	.profile-image {
		margin-right: 30px;
	}

	.profile-content {

		.name {
			color: darken(@color, 20%);
			font-size: 38px;
			margin-bottom: 5px;
			margin-top: 25px;
		}

		.desc {
			color: @color;
			font-family: "Lato", arial, sans-serif;
			font-weight: 400;
			font-size: 24px;
			margin-top: 0;
			margin-bottom: 15px;
		}
	}

	.logo {
		margin-top: 5px;
	}
}

/* ======= Sections======= */
.sections-wrapper {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section {
	margin-bottom: 30px;

	.section-inner {
		background: #fff;
		padding: 30px;
	}

	.heading {
		margin-top: 0;
		margin-bottom: 30px;
		color: darken(@color, 15%);
		font-size: 24px;
	}

	.content {
		.more-link {
			.fa {
				margin-right: 5px;
				font-size: 14px;
			}
		}
	}
}

/* Objectives levels Section */
.admin {
}

/* Skills Section */
.skills {
	.intro {
		margin-bottom: 30px;
	}

	.skillset {

		.item {
			margin-bottom: 30px;
		}

		.level-title {
			font-size: 16px;
			position: relative;
			margin-top: 0;
			margin-bottom: 10px;
		}
	}
    
    .score {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        color: @color-2;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

/* ======= Footer ======= */

.footer {
	background: darken(@color, 30%);
	color: #fff;
	padding: 10px 0;


	.copyright {
		line-height: 1.6;
		color: lighten(@color, 15%);
		font-size: 14px;
	}

	a {
		color: #fff;
	}

	.fa-heart {
		color: @heart;
	}
}
