h2.heading Competency Distribution
div.content
	p.intro
	div.skillset
		div.row
			h3.col-xs-6.col-md-12.level-title 
				span Communication
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.communication") {{vm.score.communication}}%
		div.row
			h3.col-xs-6.col-md-12.level-title 
				span Leadership
				span.hidden-sm.hidden-xs  and Management
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.leadership") {{vm.score.leadership}}%
		div.row
			h3.col-xs-6.col-md-12.level-title 
				span Interpersonal
				span.hidden-sm.hidden-xs  and Adaptability
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.interpersonal") {{vm.score.interpersonal}}%
		div.row
			h3.col-xs-6.col-md-12.level-title 
				span Conflict
				span.hidden-sm.hidden-xs  and Stress Management
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.conflict") {{vm.score.conflict}}%
		div.row
			h3.col-xs-6.col-md-12.level-title 
				span.hidden-sm.hidden-xs Corporate
				span  Citizenship
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.citizenship") {{vm.score.citizenship}}%