h2.heading Competency Distribution
div.content
	p.intro
	div.skillset
		div.item
			h3.level-title Communication
			progressbar(class="progress-striped" value="vm.score.communication") {{vm.score.communication}}%
		div.item
			h3.level-title Leadership and Management
			progressbar(class="progress-striped" value="vm.score.leadership") {{vm.score.leadership}}%
		div.item
			h3.level-title Interpersonal and Adaptability
			progressbar(class="progress-striped" value="vm.score.interpersonal") {{vm.score.interpersonal}}%
		div.item
			h3.level-title Conflict and Stress Management
			progressbar(class="progress-striped" value="vm.score.conflict") {{vm.score.conflict}}%
		div.item
			h3.level-title Corporate Citizenship
			progressbar(class="progress-striped" value="vm.score.citizenship") {{vm.score.citizenship}}%