h2.heading Level Summary
div.content
	p.intro
	div.skillset
		div.item
			h3.level-title Base
			progressbar(class="progress-striped" value="vm.score.base") {{vm.score.base}}%
		div.item
			h3.level-title Intermediate
			progressbar(class="progress-striped" value="vm.score.intermediate") {{vm.score.intermediate}}%
		div.item
			h3.level-title Senior
			progressbar(class="progress-striped" value="vm.score.senior") {{vm.score.senior}}%
	a.pull-right(href="#/competencyLevels") 
		|More Details	