h2.heading Level Progress
div.content
	p.intro
	div.skillset
		div.row
			h3.col-xs-6.col-md-12.level-title(title="vm.score.nextLevel") {{vm.score.nextLevel}}
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.levelProgressValue") {{vm.score.levelProgressValue}}%
			div.col-xs-6.col-md-12(data-ng-if="vm.score.scoreThresholdPassed")
				|Score Threshold Passed
			div.col-xs-6.col-md-12(data-ng-if="vm.score.gateThresholdPassed")
				|Gate Threshold Passed
