h2.heading Level Summary
div.content
	p.intro
	div.skillset
		div.row
			h3.col-xs-6.col-md-12.level-title Base(title="Base")
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.base") {{vm.score.base}}%
		div.row
			h3.col-xs-6.col-md-12.level-title Intermediate(title="Intermediate")
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.intermediate") {{vm.score.intermediate}}%
		div.row
			h3.col-xs-6.col-md-12.level-title Senior(title="Senior")
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.senior") {{vm.score.senior}}%
