h2.heading Level Summary
div.content
	p.intro
	div.skillset
		div.row
			h3.col-xs-6.col-md-12.level-title(title="Base") Base
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.base") {{vm.score.base}}%
		div.row
			h3.col-xs-6.col-md-12.level-title(title="Intermediate") Intermediate
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.intermediate") {{vm.score.intermediate}}%
		div.row
			h3.col-xs-6.col-md-12.level-title(title="Senior") Senior
			div.col-xs-6.col-md-12
				progressbar.progress-striped(value="vm.score.senior") {{vm.score.senior}}%
