toaster-container(toaster-options="{'time-out': 3000, 'close-button':true, 'position-class': 'toast-bottom-right'}")
div.container.sections-wrapper
		div.row
			div.primary.col-sm-12.col-xs-12
				section.section.admin
					div.section-inner
						h2.heading Competency Level Admin	
						div.content
							div.row
								div.col-xs-12.col-sm-12.col-md-4(data-ng-repeat="level in vm.competencyLevels | orderBy:'levelId'")
									div.panel.panel-primary
										div.panel-heading
											div.row
												div.col-xs-8
													h3.panel-title {{level.description}}
												div.col-xs-4
													a.edit.pull-right(href="" data-ng-click="vm.toggleEdit(level)")
														i(data-ng-show="!level.edit").fa.fa-lg.fa-pencil-square-o
														i(data-ng-show="level.edit").fa.fa-lg.fa-close
										div.panel-body
											p(data-ng-show="!level.edit") 
												strong Minimum Score: 
												|{{level.minimumScore}} 
											p(data-ng-show="!level.edit") 
												strong Minimum Gate Score: 
												|{{level.minimumGateScore}}
											div.form(data-ng-show="level.edit")
												div.form-group
													label(for="minScore{{$index+1}}") Minimum Score
													input.form-control(data-ng-if="level.edit" type="text" name="minScore{{$index+1}}" data-ng-model="level.minimumScore")
												div.form-group
													label(for="minGateScore{{$index+1}}") Minimum Gate Score
													input.form-control(data-ng-if="level.edit" type="text" name="minGateScore{{$index+1}}" data-ng-model="level.minimumGateScore")
												a.btn.btn-success(data-ng-if="level.edit" data-ng-click="vm.save(level)") Save