toaster-container(toaster-options="{'time-out': 3000, 'close-button':true, 'position-class': 'toast-bottom-right'}")
div.container.sections-wrapper
		div.row
			div.primary.col-sm-12.col-xs-12
				section.section.admin
					div.section-inner
						h2.heading Competency Level Admin
						div.content
							div.row
								div.col-xs-12.col-sm-12.col-md-4(data-ng-repeat="level in vm.competencyLevels | orderBy:'levelId'")
									div(level-holder="level" data-save-clicked="vm.save(level)")
