div.container.sections-wrapper
	div.secondary.col-md-4.col-sm-12.col-xs-12.pull-right
		aside.aside.section.profile-score.col-sm-6.col-md-12
			img.img-responsive.img-circle(src='#{thumbnailPhoto}' alt='#{userDisplayName}')
			h2.text-center Calculated Level: {{vm.score.level}}
		aside.skills.aside.section.col-md-12.col-sm-6
			div.section-inner
				include ./partials/levelSummary.jade

		aside.skills.aside.section.col-md-12.col-sm-6
			div.section-inner
				include ./partials/competencyDistribution.jade
		aside.skills.aside.section.col-md-12.col-sm-6
			div.section-inner
				include ./partials/competencyDistributionAnswered.jade

	div.primary.col-md-8.col-sm-12.col-xs-12
		section.section
			div.section-inner
				div.row
					div.col-md-4.col-xs-12
						h2.heading Objectives
					div.col-md-4.col-sm-6.col-xs-12
						div.form-group
							select.form-control(data-ng-model="vm.sort" name="sort")
								option(value="" label="Default Sort")
									| Default Sort
								option(value="-isMet" label="Prioritize met")
									| Prioritize met
								option(value="isMet" label="Prioritize not met")
									| Prioritize not met
					div.col-md-4.col-sm-6.col-xs-12
						a.btn.btn-default.pull-right(href="" data-ng-click="vm.clearAll()")
							|Clear all answers
				div.content
					div.row
						div.col-xs-12
							div.panel(data-ng-repeat="objective in vm.objectives | orderBy: [vm.sort?vm.sort:'isMet', 'skipped', 'objectiveId']" data-ng-class="objective.isMet ? 'panel-met' : 'panel-not-met'")
								include ./partials/objective.jade
