// header
header.header
	div.container
		- if(!isAuthenticated)
			div.row
				div.col-sm-12.col-xs-12.text-center
					h1.name Competency Profile
		- if(isAuthenticated)
			img.profile-image.img-responsive.pull-left(src='images/consultant-codell.png' alt='Chelsea Odell')/
			div.profile-content.pull-left
				h1.name Competency Profile
				h2.desc #{userDisplayName}
			a.btn.btn-cta-primary.pull-right(href="/logoff") Log Off