// header
header.header
	- if(!isAuthenticated)
		div.row
			div.col-xs-12.text-center
				img.logo(src='images/OBSlogo_tiny.png' alt='logo' width='124' height='85')
				h1.desc Consulting Tools
	- if(isAuthenticated)
		div.header-main.container
			div.logo.col-sm-5
				img.logo.pull-left(src='images/OBSlogo_tiny.png' alt='logo' width='124', height='85')
				h1.desc.pull-left Consulting Tools
			div.info.col-sm-7
				ul.menu-top.navbar-right
					li
						a(href="/logoff") Log Off
