extends layout

block content


	div(ng-app="consulting")
		div(ng-controller="CompetencyProfileController as vm", class="container-fluid")
			.row
				.col-md-12
					h1 Objectives
			.row
				.col-md-12
					fieldset#objectiveBox
						legend Objective
						{{vm.curr["Reviewed Objective"]}}
						input(type="checkbox", ng-model="vm.curr.isMet")
			.row
				.col-md-6 
					fieldset#counterExample
						legend Supporting Example
						{{vm.curr["Supporting Example"]}}
				.col-md-6
					fieldset#supportingExample
						legend Counter Example
						{{vm.curr["Counter Example"]}}
			.row
				.col-md-offset-3.col-md-6
					.buttons
						button(ng-click="vm.prev()") prev
						button(ng-click="vm.next()") next
			.row
				.col-md-12
					#progress
						{{vm.currIndex+1}} / {{vm.objectives.length}}
//					input(type=text, ng-model="vm.currIndex")
//					textarea(cols=200, rows=30) {{objectives|json}}
