extends layout

block content
	.row
		.col-sm-6.col-md-4.col-md-offset-4
			h1 Login
			form(role='form', action="/login",method="post",class="loginform")
				.form-group
					input.form-control(type='text', name="username", placeholder='Enter Username')
				.form-group
					input.form-control(type='password', name="password", placeholder='Password')
				button.btn.btn-default(type='submit') Submit
				|&nbsp;
				button.btn.btn-primary(type="button") Cancel
	.row
		.col-sm-6.col-md-2.col-md-offset-4
			br
			- if(messages)
				p.bg-danger.heavyPad #{messages}
			br
			br
			p.bg-info.heavyPad Load users with `seed` - login with admin/admin or quinn/quinn