- if(isAuthenticated)
	nav.navbar.navbar-fixed-top.navbar-default(role="navigation")
		div#navfluid.container-fluid(data-ng-controller="NavController as vm")
			div.navbar-header
				button.navbar-toggle(data-toggle="collapse",data-target="#navigationbar",type="button")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand
					img(src="images/OBSlogo_tiny.png", height="45")
			div#navigationbar.collapse.navbar-collapse
				ul.nav.navbar-nav
					li(ng-class="vm.getClass('')", data-toggle="collapse",data-target="#navigationbar")
						a(href="/#") Your Profile
					- if(isAdmin)
						li(ng-class="vm.getClass('/competencyLevels')", data-toggle="collapse",data-target="#navigationbar")
							a(href="/#/competencyLevels") Competency Levels Admin
						li(ng-class="vm.getClass('/objectiveAdmin')", data-toggle="collapse",data-target="#navigationbar")
							a(href="/#/objectiveAdmin") Objectives Admin
					- if(directReports.length > 0)
						li(ng-class="vm.getClass('/rankings')", data-toggle="collapse",data-target="#navigationbar")
							a(href="/#/rankings") Your Team
				ul.nav.navbar-nav.navbar-right
					li(data-toggle="collapse",data-target="#navigationbar")
						a(href="/logoff") Log Off
