- if(isAuthenticated)
	div.navbar.navbar-fixed-top.navbar-default
		div.container
			ul.nav.navbar-nav.navbar-left
				li
					a(href="/#") Your Profile
				- if(isAdmin)
					li
						a(href="/#/competencyLevels") Competency Levels Admin
					li
						a(href="/#/objectiveAdmin") Objectives Admin
				- if(directReports.length > 0)
					li
						a(href="/#/rankings") Your Team
			ul.nav.navbar-nav.navbar-right
				li
					a(href="/logoff") Log Off
