- if(isAuthenticated)
    div.navbar.navbar-fixed-top.navbar-default
        div.container
            ul.nav.navbar-nav.navbar-left
                li
                    a(href="/#") Profile
                - if(directReports)
                    li
                        a(href="/#/members") Team List
                - if(isAdmin)
                    li
                        a(href="/#/competencyLevels") Competency Levels Admin
                    li
                        a(href="/#/objectiveAdmin") Objectives Admin
                    li
                        a(href="/#/rankings") Consultant Rankings
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/logoff") Log Off
