- if(isAuthenticated)
	nav.main-nav(role="navigation")
		div.container(data-ng-controller="NavController as vm")
			div.navbar-header
				button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			div.navbar-collapse.collapse(id="navbar-collapse")
				ul.nav.navbar-nav
					li.nav-item(ng-class="vm.getClass('')")
						a(href="/#") Home
					- if(isAdmin)
							li.nav-item(ng-class="vm.getClass('/competencyLevels')")
								a(href="/#/competencyLevels") Competency Levels Admin
							li.nav-item(ng-class="vm.getClass('/objectiveAdmin')")
								a(href="/#/objectiveAdmin") Objectives Admin
					- if(directReports.length > 0)
							li.nav-item(ng-class="vm.getClass('/rankings')")
								a(href="/#/rankings") Your Team