toaster-container(toaster-options="{'time-out': 3000, 'close-button':true, 'position-class': 'toast-bottom-right'}")
div.container.sections-wrapper
	div.row
		div.primary.col-xs-12.col-md-9
			section.section
				div.section-inner
					h2.heading Objectives Admin
					div.content
						div.row
							div.col-xs-12(data-ng-repeat="objective in vm.objectives | orderBy:'objectiveId' | filter:vm.search:strict")
								div.panel.panel-met
									div.panel-heading
										div.row
											div.col-xs-11
												h3.panel-title {{objective.description}}
											div.col-xs-1
												a.edit.pull-right(href="" data-ng-click="vm.toggleEdit(objective)")
													i(data-ng-show="!objective.edit").fa.fa-lg.fa-pencil-square-o
													i(data-ng-show="objective.edit").fa.fa-lg.fa-close
									div.panel-body
										div.row(data-ng-show="!objective.edit")
											div.col-xs-12.col-md-7
												label Description
												p.form-control-static {{objective.description}}
												label Supporting Example
												p.form-control-static {{objective.supportingExample}}
												label Counter Example
												p.form-control-static {{objective.counterExample}}
											div.col-xs-12.col-md-2.col-no-padding-right
												label Gate Level
												p {{objective.gateLevel}}
												label Score
												p {{objective.score}}
											div.col-xs-12.col-md-3
													div.controls-row
														label.checkbox 
															input(type="checkbox" disabled="true" data-ng-model="objective.communication" ng-true-value="'Y'" ng-false-value="''")
															| Communication
														label.checkbox 
															input(type="checkbox" disabled="true" data-ng-model="objective.leadership" ng-true-value="'Y'" ng-false-value="''")
															| Leadership
														label.checkbox 
															input(type="checkbox" disabled="true" data-ng-model="objective.interpersonal" ng-true-value="'Y'" ng-false-value="''")
															| Interpersonal
														label.checkbox 
															input(type="checkbox" disabled="true" data-ng-model="objective.conflict" ng-true-value="'Y'" ng-false-value="''")
															| Conflict
														label.checkbox 
															input(type="checkbox" disabled="true" data-ng-model="objective.citizenship" ng-true-value="'Y'" ng-false-value="''")
															| Citizenship
										div.form(data-ng-show="objective.edit")
											div.row
												div.col-xs-12.col-md-7
													div.form-group
														label(for="description{{$index+1}}") Description
														textarea.form-control(rows="6" name="description{{$index+1}}" data-ng-model="objective.description")
													div.form-group
														label(for="supportingExample{{$index+1}}") Supporting Example
														textarea.form-control(rows="6" name="supportingExample{{$index+1}}" data-ng-model="objective.supportingExample")
													div.form-group
														label(for="counterExample{{$index+1}}") Counter Example
														textarea.form-control(rows="6" name="counterExample{{$index+1}}" data-ng-model="objective.counterExample")
												div.col-xs-12.col-md-2
													div.form-group
														label Gate Level
														select.form-control(name="gateLevel{{$index+1}}" data-ng-model="objective.gateLevel" )
															option(value="base" label="Base")
															option(value="intermediate" label="Intermediate")
															option(value="senior" label="Senior")
													div.form-group
														label(for="score{{$index+1}}") Score
														input.form-control( multiline="true" type="text" name="score{{$index+1}}" data-ng-model="objective.score")
												div.col-xs-12.col-md-3
													div.controls-row
														label.checkbox 
															input(type="checkbox" data-ng-model="objective.communication" ng-true-value="'Y'" ng-false-value="''")
															| Communication
														label.checkbox 
															input(type="checkbox" data-ng-model="objective.leadership" ng-true-value="'Y'" ng-false-value="''")
															| Leadership
														label.checkbox 
															input(type="checkbox" data-ng-model="objective.interpersonal" ng-true-value="'Y'" ng-false-value="''")
															| Interpersonal
														label.checkbox 
															input(type="checkbox" data-ng-model="objective.conflict" ng-true-value="'Y'" ng-false-value="''")
															| Conflict
														label.checkbox 
															input(type="checkbox" data-ng-model="objective.citizenship" ng-true-value="'Y'" ng-false-value="''")
															| Citizenship
											div.row
												div.col-xs-12
													a.btn.btn-success( data-ng-click="vm.save(objective)") Save

		div.secondary.col-md-3.col-xs-12.pull-right
			section.section
				div.section-inner
					h2.heading Filter Objectives
					div.content
						div.row
							div.col-xs-12
								div.form-group
									label(for="descriptionSearch") Description
									input.form-control(data-ng-model="vm.search.description")
								div.form-group
									label(for="supportingExampleSearch") Supporting Example
									input.form-control(data-ng-model="vm.search.supportingExample")
								div.form-group
									label(for="counterExampleSearch") Counter Example
									input.form-control(data-ng-model="vm.search.counterExample")
						div.row
							div.col-xs-12.col-md-8
								div.form-group
									label(for="searchGateLevel") Gate Level
									select.form-control(data-ng-model="vm.search.gateLevel" name="searchGateLevel")
										option(value="" label="")
										option(value="base" label="Base")
										option(value="intermediate" label="Intermediate")
										option(value="senior" label="Senior")
						div.row
							div.col-xs-12.col-md-6
								div.form-group
									label(for="scoreSearch") Score
									input.form-control( multiline="true" type="text" data-ng-model="vm.search.score")
						div.row
							div.col-xs-12.col-md-3
								div.controls-row
									label.checkbox 
										input(type="checkbox" data-ng-model="vm.search.communication" ng-true-value="'Y'" ng-false-value="''")
										| Communication
									label.checkbox 
										input(type="checkbox" data-ng-model="vm.search.leadership" ng-true-value="'Y'" ng-false-value="''")
										| Leadership
									label.checkbox 
										input(type="checkbox" data-ng-model="vm.search.interpersonal" ng-true-value="'Y'" ng-false-value="''")
										| Interpersonal
									label.checkbox 
										input(type="checkbox" data-ng-model="vm.search.conflict" ng-true-value="'Y'" ng-false-value="''")
										| Conflict
									label.checkbox 
										input(type="checkbox" data-ng-model="vm.search.citizenship" ng-true-value="'Y'" ng-false-value="''")
										| Citizenship