div.container.sections-wrapper
		div.row
			div.primary.col-md-8.col-sm-12.col-xs-12
				section.section
					div.section-inner
						h2.heading Objectives
						div.content
							div.row
								div.col-md-8.col-sm-12.col-xs-12
									div.panel(data-ng-repeat="objective in vm.objectives" data-ng-class="objective.isMet ? 'panel-success' : 'panel-danger'")
										div.panel-heading
											span(data-ng-if="objective.isMet")
												|Objective Met
											a.pull-right(href="" data-ng-click="vm.noObjective(objective)" data-ng-if="objective.isMet")
												i.fa.fa-undo
											span(data-ng-if="!objective.isMet")
												|Objective Not Met
										div.panel-body
											strong 
												|{{objective.description}}?
											div.row.voffset(data-ng-if="!objective.isMet")
												div.col-xs-12.text-center
													a.btn.btn-success(href="" data-ng-click="vm.yesObjective(objective)")
														|Meet Objective
											div.row(data-ng-if="objective.isMet")
												div.col-xs-6
													h3
														small Supporting Example
													|{{vm.curr.supporting_example}}
												div.col-xs-6
													h3 
														small Counter Example
													|{{vm.curr.counter_example}}
								div.col-md-4.hidden-xs.hidden-sm.text-center
									div.panel.panel-info
										div.panel-body.text-center 
											|You meet {{(vm.objectives|filter:{isMet: true}).length}} of {{vm.objectives.length}} objectives
									a.btn.btn-default(href="" data-ng-click="vm.clearAll()")
										|Clear all answers

			div.secondary.col-md-4.col-sm-12.col-xs-12
				aside.skills.aside.section
					div.section-inner
						h2.heading Objective Levels
						div.content
							p.intro
								|Below is a summary of your current compentency scores...
							div.skillset(data-ng-repeat="level in vm.objectiveLevels")
								div.item
									h3.level-title
										|{{level.description}}
									div.level-bar
										div.level-bar-inner(data-level="96%")
							a.pull-right(href="#/objectiveLevels") 
								|More Details					
//
	.container-fluid
		.row
			.col-md-10.col-md-offset-1
				#objectiveFrame
				.row
					.col-md-8
						h1 Objectives
				.row
					.col-xs-4.navleft
						button(class="btn glyphicon glyphicon-chevron-left", ng-click="vm.prev()", ng-disabled="vm.currIndex <= 0") 
					.col-xs-4
						#progress
							|{{vm.currIndex+1}} / {{vm.objectives.length}}
					.col-xs-4.navright
						button(class="btn glyphicon glyphicon-chevron-right", ng-click="vm.next()" ng-disabled="vm.currIndex >= vm.objectives.length-1") 
				.row
					.col-md-12(ng-click="vm.meetObjective()" ng-class="(vm.curr.isMet) ? 'objectiveSelected' : 'objective'")
						#objectiveBox
							h2 Description
							#instructionText
								em click to score objective					
							#descriptionText.p
								|{{vm.curr.description}}
							.row
								.col-md-6
									#supportingExample
										h2 Supporting Example
										|{{vm.curr.supporting_example}}
								.col-md-6
									#counterExample
										h2 Counter Example
										|{{vm.curr.counter_example}}
						#earMarked(ng-show="(vm.curr.isMet)"  ng-class="(vm.curr.isMet) ? 'earMarked' : ''" )