div.container.sections-wrapper
		div.row
			div.primary.col-sm-12.col-xs-12
				section.section
					div.section-inner
						h2.heading Objectives
						div.content
							div.row
								div.col-sm-12.col-xs-12