div.container.sections-wrapper
	div.row
		div.primary.col-xs-12.col-md-9
			section.section
				div.section-inner
					h2.heading Objectives Admin
					div.content
						div.row
							div.col-xs-12(data-ng-repeat="objective in vm.objectives | orderBy:'objectiveId' | filter:vm.search:strict")
								div(objective-holder="objective" data-save-clicked="vm.save(objective)")

		div.secondary.col-md-3.col-xs-12.pull-right
			section.section
				div.section-inner
					h2.heading Filter Objectives
					div.content
						div.row
							div.col-xs-12
								div.form-group
									label(for="descriptionSearch") Description
									input.form-control(data-ng-model="vm.search.description")
								div.form-group
									label(for="supportingExampleSearch") Supporting Example
									input.form-control(data-ng-model="vm.search.supportingExample")
								div.form-group
									label(for="counterExampleSearch") Counter Example
									input.form-control(data-ng-model="vm.search.counterExample")
						div.row
							div.col-xs-12.col-md-8
								div.form-group
									label(for="searchGateLevel") Gate Level
									select.form-control(data-ng-model="vm.search.gateLevel" name="searchGateLevel")
										option(value="" label="")
										option(value="base" label="Base")
										option(value="intermediate" label="Intermediate")
										option(value="senior" label="Senior")
						div.row
							div.col-xs-12.col-md-6
								div.form-group
									label(for="scoreSearch") Score
									input.form-control( multiline="true" type="text" data-ng-model="vm.search.score")
						div.row
							div.col-xs-12.col-md-3
								div.controls-row
									label.checkbox 
										input(type="checkbox" data-ng-model="vm.search.communication" ng-true-value="'Y'" ng-false-value="''")
										| Communication
									label.checkbox 
										input(type="checkbox" data-ng-model="vm.search.leadership" ng-true-value="'Y'" ng-false-value="''")
										| Leadership
									label.checkbox 
										input(type="checkbox" data-ng-model="vm.search.interpersonal" ng-true-value="'Y'" ng-false-value="''")
										| Interpersonal
									label.checkbox 
										input(type="checkbox" data-ng-model="vm.search.conflict" ng-true-value="'Y'" ng-false-value="''")
										| Conflict
									label.checkbox 
										input(type="checkbox" data-ng-model="vm.search.citizenship" ng-true-value="'Y'" ng-false-value="''")
										| Citizenship
