div.container.sections-wrapper
		div.row
			div.primary.col-md-8.col-sm-12.col-xs-12
				section.section
					div.section-inner
						div.row
							div.col-md-5.col-sm-12.col-xs-12
								h2.heading Objectives
							div.col-md-3.col-sm-12.col-xs-12
								div.form-group				
									select.form-control(data-ng-model="vm.sort" name="sort")
										<option value="">Default Sort</option>
										<option value="isMet">Sort by met</option>
										<option value="-isMet">Sort by not met</option>
						div.content
							div.row
								div.col-md-8.col-sm-12.col-xs-12
									div.panel(data-ng-repeat="objective in vm.objectives | orderBy: vm.sort" data-ng-class="objective.isMet ? 'panel-success' : 'panel-danger'")
										div.panel-heading
											span(data-ng-if="objective.isMet")
												|Objective Met
											a.pull-right(href="" data-ng-click="vm.scoreObjective(objective, false)" data-ng-if="objective.isMet")
												i.fa.fa-undo
											span(data-ng-if="!objective.isMet")
												|Objective Not Met
										div.panel-body
											strong 
												|{{objective.description}}?
											div.row.voffset(data-ng-if="!objective.isMet")
												div.col-xs-12.text-center
													a.btn.btn-success(href="" data-ng-click="vm.scoreObjective(objective, true)")
														|Meet Objective
											div.row(data-ng-if="!objective.isMet")
												div.col-xs-6
													h3
														small Supporting Example
													|{{vm.curr.supportingExample}}
												div.col-xs-6
													h3 
														small Counter Example
													|{{vm.curr.counterExample}}
								div.col-md-4.hidden-xs.hidden-sm.text-center
									div.panel.panel-info
										div.panel-body.text-center 
											|You meet {{(vm.objectives|filter:{isMet: true}).length}} of {{vm.objectives.length}} objectives
									a.btn.btn-default(href="" data-ng-click="vm.clearAll()")
										|Clear all answers

			div.secondary.col-md-4.col-sm-12.col-xs-12
				aside.skills.aside.section
					div.section-inner
						h2.heading Competency Levels
						div.content
							p.intro
								|Below is a summary of your current compentency levels...
							div.skillset
								div.item
									h3.level-title Base
									<progressbar class="progress-striped" value="vm.score.base">{{vm.score.base}}%</progressbar>
								div.item
									h3.level-title Intermediate
									<progressbar class="progress-striped" value="vm.score.intermediate">{{vm.score.intermediate}}%</progressbar>
								div.item
									h3.level-title Senior
									<progressbar class="progress-striped" value="vm.score.senior">{{vm.score.senior}}%</progressbar>
							a.pull-right(href="#/competencyLevels") 
								|More Details	
								
			div.secondary.col-md-4.col-sm-12.col-xs-12
				aside.skills.aside.section
					div.section-inner
						h2.heading Competencies
						div.content
							p.intro
								|Below is a summary of your current compentency breakdown...
							div.skillset
								div.item
									h3.level-title Communication
									<progressbar class="progress-striped" value="vm.score.communication">{{vm.score.communication}}%</progressbar>
								div.item
									h3.level-title Leadership and Management
									<progressbar class="progress-striped" value="vm.score.leadership">{{vm.score.leadership}}%</progressbar>
								div.item
									h3.level-title Interpersonal and Adaptability
									<progressbar class="progress-striped" value="vm.score.interpersonal">{{vm.score.interpersonal}}%</progressbar>
								div.item
									h3.level-title Conflict and Stress Management
									<progressbar class="progress-striped" value="vm.score.conflict">{{vm.score.conflict}}%</progressbar>
								div.item
									h3.level-title Corporate Citizenship
									<progressbar class="progress-striped" value="vm.score.citizenship">{{vm.score.citizenship}}%</progressbar>