div.container.sections-wrapper
		div.row
			div.primary.col-md-8.col-sm-12.col-xs-12
				section.section
					div.section-inner
						h2.heading Objectives
						div.content
							div.row
								div.col-md-8.col-sm-12.col-xs-12
									div.panel.panel-default(data-ng-repeat="objective in vm.objectives | filter: { answered: false }")
										div.panel-body
											strong #{userDisplayName}:
												|{{objective.description}}?
											ul.no-bullet
												li 
													label.radio
														input(type="radio" data-ng-model="objective.isMet" data-ng-value="true" data-ng-change="vm.yesObjective(objective)")
														| Yes
												li 
													label.radio
														input(type="radio" data-ng-model="objective.isMet" data-ng-value="false" data-ng-change="vm.noObjective(objective)")
														| No
											div.row
												div.col-xs-6
													h3
														small Supporting Example
													|{{vm.curr.supporting_example}}
												div.col-xs-6
													h3 
														small Counter Example
													|{{vm.curr.counter_example}}
									div.panel.panel-default(data-ng-repeat="objective in vm.objectives | filter: { answered: true } as answeredResults" data-ng-class="(objective.isMet) ? 'panel-success': 'panel-danger'")
										div.panel-body
											strong #{userDisplayName}:
												|{{objective.description}}?
											ul.answers
												li(data-ng-class="{'no-bullet' : objective.isMet}")
													i.fa-li.fa.fa-check(data-ng-if="objective.isMet")
													s(data-ng-if="!objective.isMet") Yes
													span(data-ng-if="objective.isMet") Yes
												li(data-ng-class="{'no-bullet' : !objective.isMet}")  
													i.fa-li.fa.fa-check(data-ng-if="!objective.isMet")
													s(data-ng-if="objective.isMet") No
													span(data-ng-if="!objective.isMet") No
								div.col-md-4.hidden-xs.hidden-sm
									div.panel.panel-info
										div.panel-body.text-center 
											|You've answered {{answeredResults.length}} of {{vm.objectives.length}} questions

			div.secondary.col-md-4.col-sm-12.col-xs-12
				aside.skills.aside.section
					div.section-inner
						h2.heading Objective Levels
						div.content
							p.intro
								|Below is a summary of your current compentency scores...
							div.skillset(data-ng-repeat="level in vm.objectiveLevels")
								div.item
									h3.level-title
										|{{level.description}}
									div.level-bar
										div.level-bar-inner(data-level="96%")
							a.pull-right(href="#/objectiveLevels") 
								|More Details					
//
	.container-fluid
		.row
			.col-md-10.col-md-offset-1
				#objectiveFrame
				.row
					.col-md-8
						h1 Objectives
				.row
					.col-xs-4.navleft
						button(class="btn glyphicon glyphicon-chevron-left", ng-click="vm.prev()", ng-disabled="vm.currIndex <= 0") 
					.col-xs-4
						#progress
							|{{vm.currIndex+1}} / {{vm.objectives.length}}
					.col-xs-4.navright
						button(class="btn glyphicon glyphicon-chevron-right", ng-click="vm.next()" ng-disabled="vm.currIndex >= vm.objectives.length-1") 
				.row
					.col-md-12(ng-click="vm.meetObjective()" ng-class="(vm.curr.isMet) ? 'objectiveSelected' : 'objective'")
						#objectiveBox
							h2 Description
							#instructionText
								em click to score objective					
							#descriptionText.p
								|{{vm.curr.description}}
							.row
								.col-md-6
									#supportingExample
										h2 Supporting Example
										|{{vm.curr.supporting_example}}
								.col-md-6
									#counterExample
										h2 Counter Example
										|{{vm.curr.counter_example}}
						#earMarked(ng-show="(vm.curr.isMet)"  ng-class="(vm.curr.isMet) ? 'earMarked' : ''" )