<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
            <section class="section">
                <div class="section-inner">
                    <h2 class="heading">Sign In</h2>

                    <div class="content clearfix">
                        <form action="/Account/Login" class="loginform ng-pristine ng-valid" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">OBS\</span>
                                    <input class="form-control" name="username"
                                           placeholder="Username" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="form-control" name="password"
                                       placeholder="Password" type="password">
                            </div><button class="btn btn-success pull-right" type="submit">
                                      Submit
                                  </button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="row">
            <div class="primary col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                <div class="alert alert-danger" role="alert">
                    @Html.ValidationMessage("FailedLogin")
                </div>
            </div>
        </div>
    }
</div>