body {
  padding-top: 60px;
  padding-bottom: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.sidebar-nav {
  padding: 9px 0;
}
.objectiveBox {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  margin-right: 0;
  margin-left: 0;
}
.objectiveBox legend {
  width: inherit;
/* Or auto */
  padding: 0 10px;
/* To give a bit of padding on the left and right */
  border-bottom: none;
}
.description:hover {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  box-shadow: 1px 1px 1px #333;
  border-color: #333;
}
#status {
  height: 35px;
}
#progress {
  text-align: center;
}
.buttons {
  text-align: center;
}
.notImplemented {
  cursor: not-allowed;
}
