body
	padding-top: 60px;
	padding-bottom: 40px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF
.sidebar-nav 
	padding: 9px 0;
      
#supportingExample,
#counterExample,
#objectiveBox
	padding:5px;
	margin:10px;
	height: 120px;
	margin-right: 0;
	margin-left: 0;
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px 4px 4 4;
	-webkit-box-shadow: none;
	box-shadow: none;

	legend
		width:inherit; /* Or auto */
		padding:0 10px; /* To give a bit of padding on the left and right */
		border-bottom:none;

.buttons
	text-align: center;

.notImplemented
	cursor: not-allowed;
