body
	padding-top: 60px;
	padding-bottom: 40px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
	color: #FFFFFF

.sidebar-nav 
	padding: 9px 0;
	  
.objectiveBox
	
	padding:5px;
	padding-right:10px;
	padding-left:10px;
	padding-bottom:15px;

	margin:10px;
	margin-right: 0;
	margin-left: 0;

	border:1px solid #F5F5F5;
	border-radius: 3px;
	
	box-shadow: 2px 2px 5px #888888

.navright
	text-align: right;

#status
	height: 35px;
	
#progress
	text-align: center;

.notImplemented
	cursor: not-allowed;

